 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 490px) and (max-width: 700px){
    body {
        background-color: blue;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
     }
     .first-grid{
        
         grid-column: 2/2;
         background-color: aqua;
     }
}