
@media (max-width: 992px) {
    /* nav style */

  

   main {
       display: grid;
       grid-template-columns: 1fr 1fr ;
       margin: 20px auto;
   }

   .first-grid{
grid-column: 1/2;
grid-row: 1;
margin: 0 20px;
}


.sec-grid{
    grid-column: 2/4;
    margin: 0 20px;
    
}


.temple-activities1{
    grid-column: 1/3;
    margin: 0 20px;
}

.temple-activities2{
    grid-column: 3/4;
    margin: 0 20px;
}

.temple-activities3{
    grid-column: 1/4;
    margin: 0 20px;
}

.last1{
    grid-column: 1/3;
   margin: 0 20px;
   
}
.last2{
    grid-column: 3/3;
    margin: 0 20px;
   
}

.last3{
    grid-column: 1/4;
    margin: 0 20px;
}

}


