
@media (max-width: 900px) {
    /* nav style */

  

   main {
       display: grid;
       grid-template-columns: 1fr 1fr ;
       margin: 20px auto;
   }
   section{
     margin: 0 20px;
   }

   .first-grid{
grid-column: 1/2;
grid-row: 1;
margin: 0 20px;
}


.sec-grid{
    grid-column: 2/4;
    margin: 0 20px;
    
}


.temple-activities1{
    grid-column: 1/3;
    margin: 0 20px;
}

.temple-activities2{
    grid-column: 3/4;
    margin: 0 20px;
}

.temple-activities3{
    grid-column: 1/4;
    margin: 0 20px;
}

.last1{
    grid-column: 1/3;
   margin: 0 20px;
   
}
.last2{
    grid-column: 3/3;
    margin: 0 20px;
   
}

.last3{
    grid-column: 1/4;
    margin: 0 20px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    max-width: 960px;
    margin: 20px 0;
    grid-gap: 20px;



}

/* section{

 
    margin: 0 20px;
  
    box-shadow:2px 2px 9px 2px  #ccc;
    border-radius: 7px 7px 2px 2px ;
    background: #a5a7a8;
    background: -webkit-linear-gradient(to right, #a5a7a8, #e2e1e3, #fcf8f2);
    background: linear-gradient(to right, #a5a7a8, #e2e1e3, #fcf8f2); background-color: #f8a28f; 
    
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
    font-size: 16px;
} */

/* reservation */
div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display:inline;
    float: left;

    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 1px solid  black;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }


  form{
    margin: 0 200px;
    background: rgb(34,193,195);
background: linear-gradient(90deg, rgba(34,193,195,0.9150866390614028) 30%, rgba(0,191,255,0.6510416952411779) 67%);
   
  }
  .services {
    background-color: red;
  }

  .colors{
    background: rgb(0,0,6);
    background: linear-gradient(28deg, rgba(0,0,6,1) 4%, rgba(204,204,204,1) 100%);
    height: 300px;
    width: 100%;
    margin-top: -21px;
  
  }

  /* services */
  
  .centering{
    text-align: center;
  
  }
  

  .services {
    
        
    box-shadow:2px 2px 9px 2px  #ccc;
    border-radius: 7px 7px 2px 2px ;
    background: #6A5ACD;
   
    
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
    font-size: 16px;
}

.services3{
  grid-column:1/4 ;
}

.gridss{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services p{
  padding: 20px;
}

.button {
  background-color: #152715;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 70px;
  cursor: pointer;
}
}


