
@media (max-width: 992px) {
    /* nav style */

  

   main {
       display: grid;
       grid-template-columns: 1fr 1fr ;
       margin: 20px auto;
   }

   .first-grid{
grid-column: 1/2;
grid-row: 1;
margin: 0 20px;
}


.sec-grid{
    grid-column: 2/4;
    margin: 0 20px;
    
}


.temple-activities1{
    grid-column: 1/3;
    margin: 0 20px;
}

.temple-activities2{
    grid-column: 3/4;
    margin: 0 20px;
}

.temple-activities3{
    grid-column: 1/4;
    margin: 0 20px;
}

.last1{
    grid-column: 1/3;
   margin: 0 20px;
   
}
.last2{
    grid-column: 3/3;
    margin: 0 20px;
   
}

.last3{
    grid-column: 1/4;
    margin: 0 20px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 20px;
   margin: 20px auto;

}

section{
    width: 100%;
    height: auto;
    
    margin: 0px 0px 20px;
    box-shadow:2px 2px 9px 2px  #ccc;
    border-radius: 7px 7px 2px 2px ;
    background: #a5a7a8;
    background: -webkit-linear-gradient(to right, #a5a7a8, #e2e1e3, #fcf8f2);
    background: linear-gradient(to right, #a5a7a8, #e2e1e3, #fcf8f2); background-color: #f8a28f; 
    
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
    font-size: 16px;
}



}


